{% extends "base.html" %}

{% load i18n %}
{% load thumbnail %}

{% block breadcrumbs %}
<ul class="breadcrumb">
	<li><span class="divider">&raquo;</span><a href="{% url 'team_list' %}">Teams</a></li>
	<li><span class="divider">&raquo;</span><a href="{% url 'team_person_detail' object.slug %}">{{ object.first_name }} {{ object.last_name }}</a></li>
</ul>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="team col-md-24">
			<div class="page-header">
				<h3>{{ object.first_name }} {{ object.last_name }}</h3>
			</div>

			{% for image in object.images.all %}
            <div class="col-xs-12 col-sm-6 col-md-4">
				<a href="{% thumbnail image.image.file 500x500 %}" class="thumbnail fancybox">
					<img alt="{% if image.alt_text %}{{ image.alt_text }}{% endif %}" src="{% thumbnail image.image.file 260x180 crop subject_location=image.image.subject_location %}" />
				</a>
			</div>
			{% endfor %}

			{% with attributes=object.attributes %}
			{% include "teams/attributes.html" %}
			{% endwith %}

			{{ object.html_content|safe }}
		</div>
	</div>
</div>
{% endblock %}

{% block sidebar %}
	{% with players=object.player_squad.all %}
	{% with staffs=object.staff_squad.all %}
	{% if players or staffs or contacts %}
	<h3>Teams</h3>
	
	{% if players %}
	<dl>
		<dt>als Spieler</dt>
	{% for squad in players %}
		<dd><a href="{% url 'squad_detail' squad.slug %}">{{ squad }}</a></dd>
	{% endfor %}
	</dl>
	{% endif %}

	{% if staffs %}
	<dl>
		<dt>als Betreuer</dt>
	{% for squad in staffs %}
		<dd><a href="{% url 'squad_detail' squad.slug %}">{{ squad }}</a></dd>
	{% endfor %}
	</dl>
	{% endif %}
	{% endif %}
	{% endwith %}
	{% endwith %}
{% endblock %}