{% extends "base.html" %}

{% load i18n %}
{% load thumbnail %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-24">
            <div class="page-header">
                <h3>Mannschaften</h3>
            </div>
            {% for squad in object_list %}
            {% ifchanged squad.season %}<h4>Saison {{ squad.season }}</h4>{% endifchanged %}
            <div class="col-md-4">
                <div class="thumbnail">
                    {% with image=squad.squadimage_set.all|first %}
                    {% if image %}
                    <img alt="{% if image.alt_text %}{{ image.alt_text }}{% endif %}" src="{% thumbnail image.image.file 160x120 crop subject_location=image.image.subject_location %}" />
                    {% endif %}
                    {% endwith %}
                    <a href="{% url 'teams:squad_detail' squad.slug %}">{{ squad.name }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
