{% extends "teams/team_base.html" %}

{% load i18n %}
{% load thumbnail %}
{% load chunks %}
{% load sekizai_tags %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li><span class="divider">&raquo;</span><a href="{% url 'team_list' %}">Teams</a></li>
    <li><span class="divider">&raquo;</span><a href="{% url 'team_detail' object.team.slug %}">{{ object.team }}</a></li>
    <li><span class="divider">&raquo;</span><a href="">{{ object }}</a></li>
</ul>
{% endblock %}

{% block sidebar %}
    <ul class="nav nav-list affix hidden-phone">
        <li>
            <a href="#teamtop"><i class="icon-chevron-right"></i>Übersicht</a>
        </li>
        <li>
            <a href="#spieler"><i class="icon-chevron-right"></i>Spieler</a>
        </li>
        <li>
            <a href="#betreuer"><i class="icon-chevron-right"></i>Betreuer</a>
        </li>
        <li>
            <a href="#transfer"><i class="icon-chevron-right"></i>Transfer</a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <div id="teamtop" class="page-header">
    	<h1>{{ object }}</h1>
	{{ object.html_content|safe }}
    </div>

    {% addtoblock "css" %}
    <style type="text/css">
        .slider {
            width:160px;
            height:120px;
            background:#eee;
            overflow:hidden;
            position:relative;
        } 
        .slider > div { 
            width:160px;
            height:240px;
            position:relative;
            text-align: center;
        }
    </style>
    {% endaddtoblock %}

    {% addtoblock "js" %}
    <script type="text/javascript">
        $(document).ready(function() {
            $(".slider").hover(
                function() {
                    $("div", this).stop().animate({left: "0px", top: "-120px"});     
                },
                function() {
                    $("div", this).stop().animate({left: "0px", top: "0px"});
                }
            );
        });
    </script>
    {% endaddtoblock %}

    {% if players %}
    <h3 id="spieler">Spieler</h3>
    <ul class="thumbnails">
    {% for player in players %}
        {% with person=player.person %}
        <li>
            <div class="thumbnail slider">
                <div>
                    <a href="{% url 'team_person_detail' person.slug %}">
                        {% with image=person.first_image %}
                        {% if image %}
                        <img alt="{% if image.alt_text %}{{ image.alt_text }}{% endif %}" src="{% thumbnail image.image.file 160x120 crop subject_location=image.image.subject_location %}" />
                        {% else %}
                        <img alt="" src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&f=y&s=120" />
                        {% endif %}
                        {% endwith %}
                        <p>
                            {{ person.first_name }} {{ person.last_name }}<br />
                            <span class="badge">{{ player.number }}</span>
                            {% for position in player.positions.all %}
                                {% if not forloop.first %}, {% endif %}{{ position.name }}
                            {% endfor %}
                        </p>
                    </a>
                </div>
            </div>
        </li>
        {% endwith %}
    {% endfor %}
    </ul>
    {% endif %}

	{% if staffs %}
   <h3 id="betreuer">Betreuer</h3>

    <ul class="thumbnails">
    {% for staff in staffs %}
        {% with person=staff.person %}
        <li>
            <div class="thumbnail slider">
                <div>
                    <a href="{% url 'team_person_detail' person.slug %}">
                        {% with image=person.first_image %}
                        {% if image %}
                        <img alt="{% if image.alt_text %}{{ image.alt_text }}{% endif %}" src="{% thumbnail image.image.file 160x120 crop subject_location=image.image.subject_location %}" />
                        {% else %}
                        <img alt="" src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&f=y&s=120" />
                        {% endif %}
                        {% endwith %}
                        <p>
                            {{ person.first_name }} {{ person.last_name }}<br />
                            <span class="badge">{{ staff.function }}</span>
                        </p>
                    </a>
                </div>
            </div>
        </li>
        {% endwith %}
    {% endfor %}
    </ul>
    {% endif %}

	{% with transfers_in=object.transfer_in.all %}
	{% with transfers_out=object.transfer_out.all %}
	{% if transfers_in or transfers_out %}
    	<h3 id="transfer">Transfers</h3>
	{% if transfers_in %}
	   <div class="span4">
    	<h4><i class="icon-arrow-right"></i>&nbsp;Zuzüge</h4>
    	<ul class="unstyled">
    	{% for transfer in transfers_in %}
    		<li>
    			<a rel="popover" href="{% url 'team_person_detail' transfer.person.slug %}" data-original-title="{% if transfer.t_from %}{{ transfer.t_from }}{% endif %}">{{ transfer.person }}</a>
    		</li>
    	{% endfor %}
    	</ul>
        </div>
	{% endif %}

	{% if transfers_out %}
        <div class="span4 offset1">
            <h4><i class="icon-arrow-left"></i>&nbsp;Abgänge</h4>
            <ul class="unstyled">
	{% for transfer in transfers_out %}
                <li>
                    <a rel="popover" href="{% url 'team_person_detail' transfer.person.slug %}" data-original-title="{% if transfer.t_to %}{{ transfer.t_to }}{% endif %}">{{ transfer.person }}</a>
                </li>
	{% endfor %}
            </ul>
        </div>
	{% endif %}
	{% endif %}
	{% endwith %}
	{% endwith %}
    
	<ul class="pager span9">
		{% with squad=object.predecessor %}
			{% if squad %}
				<li class="previous"><a href="{% url 'squad_detail' squad.slug %}">&larr; {{ squad }}</a></li>
			{% endif %}
		{% endwith %}
		{% with squad=object.successor %}
			{% if squad %}
			<li class="next"><a href="{% url 'squad_detail' squad.slug %}">{{ squad }} &rarr;</a></li>
			{% endif %}
		{% endwith %}
	</ul>
{% endblock %}
