{% extends "base.html" %}

{% load i18n %}
{% load easy_thumbnail %}

{% block content %}
<div class="span10">
    <ul class="thumbnails">
        {% for squad in object_list %}
        <li class="span2">
            <div class="thumbnail">
                {% with image=squad.squadimage_set.all|first %}
                {% if image %}
                <img alt="{% if image.alt_text %}{{ image.alt_text }}{% endif %}" src="{% easy_thumbnail image.image.file 160x120 crop subject_location=image.image.subject_location %}" />
                {% endif %}
                {% endwith %}
                {% if team.lastsquad %}
                <a href="{% url squad_detail squad.slug %}">{{ squad.name }}</a>
                {% else %}
                {{ squad.name }}
                {% endif %}
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
No newline at end of file
