{% extends "teams/team_base.html" %}

{% load i18n %}
{% load easy_thumbnail %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
	<div class="span10">
		<ul class="thumbnails">
		{% for team in object_list %}
			<li class="span2">
				<div class="thumbnail">
				{% if team.lastsquad %}
					<a href="{% url squad_detail team.lastsquad.slug %}">
					{% with image=team.first_image %}
						{% if image %}
							<img alt="{% if image.alt_text %}{{ image.alt_text }}{% endif %}" src="{% easy_thumbnail image.image.file 160x120 crop subject_location=image.image.subject_location %}" />
						{% endif %}
					{% endwith %}
						<h5>{{ team.name }}</h5>
					</a>
				{% else %}
					{% with image=team.first_image %}
						{% if image %}
							<img alt="{% if image.alt_text %}{{ image.alt_text }}{% endif %}" src="{% easy_thumbnail image.image.file 160x120 crop subject_location=image.image.subject_location %}" />
						{% endif %}
					{% endwith %}
					<h5>{{ team.name }}</h5>
				{% endif %}
				</div>
			</li>
		{% endfor %}
		</ul>
	</div>
{% endblock %}