{% extends "base.html" %}

{% load i18n %}
{% load thumbnail %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li><span class="divider">&raquo;</span><a href="{% url 'team_list' %}">Teams</a></li>
</ul>
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-24">
	        {% for team in object_list %}
	        <div class="col-md-4">
                {% if team.lastsquad %}
                <a href="{% url 'squad_detail' team.lastsquad.slug %}">
                    {% with image=team.first_image %}
                    {% if image %}
                    <img alt="{% if image.alt_text %}{{ image.alt_text }}{% endif %}" src="{% thumbnail image.image.file 160x120 crop subject_location=image.image.subject_location %}" />
                    {% endif %}
                    {% endwith %}
                    <h5>{{ team.name }}</h5>
                </a>
                {% else %}
                {% with image=team.first_image %}
                {% if image %}
                <img alt="{% if image.alt_text %}{{ image.alt_text }}{% endif %}" src="{% thumbnail image.image.file 160x120 crop subject_location=image.image.subject_location %}" />
                {% endif %}
                {% endwith %}
                <h5>{{ team.name }}</h5>
                {% endif %}
	        </div>
	        {% endfor %}
		</div>
	</div>
</div>
{% endblock %}
